In [58]:
import seaborn as sns

In [59]:
df = sns.load_dataset("tips")

In [60]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [61]:
df.info

<bound method DataFrame.info of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [62]:
df.sex.value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [63]:
df.smoker.value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [64]:
df.day.value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [65]:
df.time.value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [66]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [67]:
x = df[['tip', 'sex', 'smoker', 'day', 'time', 'size']
       ]
y = df['total_bill']

In [68]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=10)

In [69]:
#feature encoding (onehot and label)
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [70]:
le1 = LabelEncoder()
le2 = LabelEncoder()
le3 = LabelEncoder()

In [71]:
x_train['sex']=le1.fit_transform(x_train['sex'])
x_train.smoker=le2.fit_transform(x_train['smoker'])
x_train.time=le3.fit_transform(x_train['time'])

In [72]:
x_train.head()

      tip  sex  smoker  day  time  size
58   1.76    1       1  Sat     0     2
1    1.66    1       0  Sun     0     3
2    3.50    1       0  Sun     0     3
68   2.01    1       0  Sat     0     2
184  3.00    1       1  Sun     0     2

In [73]:
x_test['sex']=le1.transform(x_test['sex'])
x_test.smoker=le2.transform(x_test['smoker'])
x_test.time=le3.transform(x_test['time'])

In [74]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [75]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer(
    transformers=[
        ('onehot', OneHotEncoder(drop='first', sparse_output=False), [3])
    ],
    remainder='passthrough'
)

x_train = ct.fit_transform(x_train)
x_test = ct.transform(x_test)

In [82]:
from sklearn.svm import SVR
svr = SVR(kernel = 'linear')
svr.fit(x_train, y_train)
y_pred = svr.predict(x_test)
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
print(r2_score(y_test, y_pred))
mean_absolute_error(y_test, y_pred)

0.531640799336258

3.915442138605135

In [83]:
##do hyper parameter tuning